<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Jonathan Poh">
  <title>{{ title }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.min.css" as="style">
  <link rel="preload" href="/css/styles.css" as="style">
  <link href="https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="color-gradient h-screen flex flex-col">
  <header class="p-6 flex justify-between items-baseline">
    <div><pre class="header-hello text-slate-100 dark:text-slate-400 text-5xl md:text-7xl font-bold filter drop-shadow-md">&lt;/&gt;</pre></div>
    <div><pre class="header-hello text-right text-slate-200 dark:text-slate-400 text-2xl md:text-4xl font-mono font-semibold tracking-tighter">// hello</pre></div>

  </header>
  <main class="flex-auto">
    {{ content }}
  </main>
  <footer>
    <div class="w-full px-4 py-2 text-slate-300 dark:text-slate-400 text-xs bg-slate-100 bg-opacity-10 backdrop-blur-lg dark:bg-slate-800 dark:bg-opacity-50 dark:backdrop-blur-lg">&copy; Copyright {% currentYear %} Jonathan Poh</div>
  </footer>
  <script>
  (() => {
    var s = document.createElement('script');
    s.src = "/js/email.js";
    s.async = true;
    document.body.appendChild(s);
  })();
  </script>
  <script>
  (() => {
    var s = document.createElement('script');
    s.src = "https://kit.fontawesome.com/b959f4d9ab.js";
    s.async = true;
    document.body.appendChild(s);
  })();
  </script>
  <script>
  (() => {
    var s = document.createElement('script');
    s.src = "https://plausible.io/js/plausible.js";
    s.async = true;
    s.defer = true;
    s.dataset.domain = "jonathanpoh.me";
    document.body.appendChild(s);
  })();
  </script>
</body>

</html>
